@font-face {
  font-family: "Cascadia";
  src: url("./cascadia.ttf");
}

*,*::before,*::after{box-sizing:inherit;}

:root {
  --colour-bg: #304050;
  --colour-accent-dark: #202530;
  --colour-accent-light: #405060;
  --colour-hover: #406070;
  --colour-link: #40a0f0;
  --colour-fg: #eeeeee;
	--font-primary: Cascadia;
	--unit: min(1vh, 1vw);
	box-sizing: border-box;
	background-color: var(--colour-bg);
	font-family: "Cascadia";
	font-size: var(--unit);
	color: var(--colour-fg);
	fill: var(--colour-fg);scroll-behavior: smooth; 
}

body { margin: 0 auto; }

a {
	color: var(--colour-link);
	text-decoration: underline;
}

a.button {
	display: inline-block;
	padding: 5rem;
	color: var(--colour-fg);
	text-decoration: none;
	background-color: var(--colour-accent-light);
	border: 2rem solid var(--colour-bg);
	border-radius: 4rem;
	cursor: pointer;
}
a.button:hover {
	background-color: var(--colour-hover);
}
a.button > h3 > img {
	margin-top: -0.2em;
	margin-right: 0.3em;
	width: 1em;
	height: 1em;
	object-fit: contain;
	vertical-align: middle;
}

h1 {
	margin: 0;
	margin-bottom: calc(2 * var(--unit));
	font-size: 7rem;
}

h2 {
	margin: 0;
	margin-bottom: calc(1 * var(--unit));
	font-size: 5rem;
}

h3 {
	margin: 0;
	font-size: 4rem;
}

p {
	margin: 0;
	font-size: 2rem;
}

p.text-block {
	margin: 0;
	padding: 2rem;
	background-color: var(--colour-accent-dark);
	border-radius: 2rem;
}

.width-whole { width: 100%; }
.width-half { width: 50%; }
.width-two-third { width: 66.66%; }
.width-one-third { width: 33.33%; }
.width-one-quarter { width: 25%; }
.width-three-quarter { width: 75%; }



/*---OLD BELOW---*/

/*
header {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 2fr) minmax(0, 1fr);
  grid-template-areas: 
    "l i r"
    "t t t"
    "n n n";
  width: 100%;
  min-width: 100%;
}
.header-left {
  grid-area: l;
  width: 100%;
  font-family: var(--font-primary);
}

.header-right {
  grid-area: r;
  width: 100%;
  font-family: var(--font-primary);
}

.header-logo {
  grid-area: i;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  width: 100%;
}

.header-title {
  grid-area: t;
  font-family: var(--font-primary);
}

.header-nav {
  grid-area: n;
  display: grid;
  padding: 0 5%;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  gap: 6% 3%;
  font-family: var(--font-primary);
}
.header-nav > a {
  padding: 10%;
  background-color: var(--colour-accent);
  border-radius: 10px;
  text-decoration: none;
  color: var(--colour-fg);
}
.header-nav > a:hover {
  background-color: var(--colour-hover);
}
.header-nav > a > h1 {
  margin: 0;
}
.header-nav > a > p {
  margin: 0;
  margin-top: 5%;
}

@media (max-width: 850px) {
  body {
    width: 100%;
  }
}
*/
