@font-face {
  font-family:"Atkinson Hyperlegible";
  src: url("https://static.sunsetkookaburra.xyz/font/Atkinson-Hyperlegible-Regular-102a.woff2");
}

@font-face {
  font-family:"Atkinson Hyperlegible";
  font-weight: bold;
  src: url("https://static.sunsetkookaburra.xyz/font/Atkinson-Hyperlegible-Bold-102a.woff2");
}

@font-face {
  font-family:"Atkinson Hyperlegible";
  font-style: italic;
  src: url("https://static.sunsetkookaburra.xyz/font/Atkinson-Hyperlegible-Italic-102a.woff2");
}

@font-face {
  font-family:"Atkinson Hyperlegible";
  font-weight: bold;
  font-style: italic;
  src: url("https://static.sunsetkookaburra.xyz/font/Atkinson-Hyperlegible-BoldItalic-102a.woff2");
}
