
body {
  max-width: min(28rem, 100%);
}

header {
  text-align: center;
}

header picture {
  display: flex;
  justify-content: center;
  align-items: center;
}

header picture::before, header picture::after {
  content: "";
  display: inline-flex;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  width: 5.5rem;
  height: min(16rem, 50vmin);
}

header picture::before {
  background-image: url("https://static.sunsetkookaburra.xyz/font/lbrace.svg");
  margin-right: -0.75rem;
}

header picture::after {
  background-image: url("https://static.sunsetkookaburra.xyz/font/rbrace.svg");
  margin-left: -0.75rem;
}

header img {
  width: min(16rem, 50vmin);
  height: min(16rem, 50vmin);
  border: min(1.5rem, 5vmin) solid var(--theme-fg);
  border-radius: 50%;
}

h1 {
  font-size: min(4rem, 13vw);
  line-height: 0.8;
  font-weight: 100;
  margin: 2rem 0;
}

h1 .tag {
  font-size: 0.65em;
  font-weight: 800;
}

h2 {
  margin: 2rem auto 1rem;
}

.buttonlinks {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 2rem;
  padding: 0;
  margin: 1rem auto;
  font-family: "Cascadia Cursive";
  font-style: italic;
}

.buttonlinks > li {
  list-style: none;
}

.buttonlinks > li > a {
  display: flex;
  text-decoration: none;
  padding: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 0.5rem solid var(--theme-accent-dark);
  gap: 1rem;
  border-radius: 0.5rem;
  background-color: var(--theme-accent-dark);
}

.buttonlinks > li > a:hover {
  border-bottom: 0.5rem solid var(--theme-hover);
}

.buttonlinks > li > a::before {
  content: "";
  display: inline-flex;
  width: 1.2em;
  height: 1.2em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  justify-content: center;
  align-items: center;
}

.buttonlinks a[data-logo="gh"]::before {
  background-image: url("https://static.sunsetkookaburra.xyz/ico/mark-github-eee.svg");
}

.buttonlinks a[data-logo="maps"]::before {
  background-image: url("https://maps.sunsetkookaburra.xyz/res/map.png");
  image-rendering: pixelated;
}

.buttonlinks a[data-icon]::before {
  content: attr(data-icon);
}

ul {
  max-width: 24rem;
  margin: 1rem auto;
  padding: 0;
  list-style-position: inside;
}
